
/* !!! Обнуление */

/*Обнуление Андриканич */
/*
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.bigred{
	font-size: 20px;
	color: red;
}
*/

/* ??? Глобальные стили */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/background-index.png");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.main-header__main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #000000;
}

.main-header__site-navigation,
.site-navigation__user-navigation {
	list-style: none;
}

.main-header__site-navigation a,
.site-navigation__user-navigation a {
	color: #ffffff;
}

.main-header__site-navigation a:hover,
.site-navigation__user-navigation a:hover,
.main-header__site-navigation a:focus,
.site-navigation__user-navigation a:focus {
	background-color: #242424;
}

.features__list {
	list-style: none;
}

.features__item {
	text-align: center;
}

.features__item h3 {
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../img/background-index-columns.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news__list {
	list-style: none;
}

.news__item time {
	text-transform: none;
}

.gallery__content {
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.form input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.form input:focus {
	border-color: #663d15;
}

.main-footer {
	
}



/* ???index.html */

/* !!! header */

/* !!! body */

/* !!! footer */

/* !contacts__contacts */

/* !social__social-links */

/* ?Социальные иконки интерактив */
