/* Сделал по заданию 5 главы 1 курса */
/* ?Сделал базовую стилизацию */
/* ?index page */
/* ?item page */

/* !Сетки */
/* !index page */

/* ?Проверил. Прогнал CSS на валидацию -все работает. */

/* !!! Обнуление */

/*Обнуление Андриканич */
/*
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.bigred{
	font-size: 20px;
	color: red;
}
*/

/* ??? Глобальные стили */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/background-index.png");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

/* ???index.html */

/* !!! header */

.main-header__main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #000000;
}

.main-header__site-navigation,
.site-navigation__user-navigation {
	list-style: none;
}

.main-header__site-navigation a,
.site-navigation__user-navigation a {
	color: #ffffff;
}

.main-header__site-navigation a:hover,
.site-navigation__user-navigation a:hover,
.main-header__site-navigation a:focus,
.site-navigation__user-navigation a:focus {
	background-color: #242424;
}

/* !body */

.features__list {
	list-style: none;
}

.features__item {
	text-align: center;
}

.features__item h3 {
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../img/background-index-columns.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns-2 {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../img/background-index-columns.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news__list {
	list-style: none;
}

.news__item time {
	text-transform: none;
}

.gallery__content {
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.form input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.form input:focus {
	border-color: #663d15;
}

/* !!! footer */

.main-footer {
	color: #ffffff;

	background-color: #212121;
	background-image: url(../img/background-footer.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* !contacts__contacts */

.main-footer__contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.main-footer__contacts a:hover,
.main-footer__contacts a:focus {
	text-decoration: none;
}

/* !social__social-links */

/* ?Социальные иконки интерактив */

.main-footer__links {
	text-align: center;
}

.main-footer__links ul {
	list-style: none;
}

.button-social {
	color: #ffffff;
}

.developer__copyright {
	text-align: center;
}

.developer__copyright .button-social:hover,
.developer__copyright .button-social:focus {
	color: #000000;

	background-color: #ffffff;
}

/* !modal */

.modal {
	color: #000000;

	background-color: #f8f3f0;
	background-image: url(../img/background-index-columns.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login__form input[type="text"],
.login__form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login__form input:focus {
	border-color: #663d15;
}

.login__checkbox:hover,
.login__checkbox:focus,
.login__label:hover,
.login__label:focus {
	color: #663d15;
}

.login__link {
	color: #000000;
	text-decoration: underline;
}

.login__link:hover,
.login__link:focus {
	text-decoration: none;
}

/* ???shop.html */

/* !body */

.container-shop {
	color: #000000;

	background-color: #f9f6f3;
	background-image: url(../img/background-index-columns.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.container-shop__page-title {
	font-size: 30px;
	line-height: 42px;
}

/* !breadcrumbs */

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs__item--current {
	color: #aba9a7;
}

/* !filter */

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter input:hover,
.filter input:focus,
.filter label:hover,
.filter label:focus {
	color: #663d15;
}

.filter input:disabled,
.filter label:disabled {
	color: #000000;

	opacity: 0.5;
}

/* !catalog */

.catalog ul {
	list-style: none;
}

.products__item {
	background-color: #f8f8f8ff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products__item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.products__item a {
	color: #000000;
}

.products__item h3 {
	font-size: 14px;
	line-height: 18px;
}

.products__category {
	text-transform: none;
}

.products__item-price b {
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5;
}

.products__item-price .products__button {
	line-height: 20px;
	color: #ffffff;

	background-color: #000000;
}

.products__item-price .products__button:hover,
.products__item-price .products__button:focus {
	background-color: #663d15;
}

/* !pagination */

.pagination__list {
	list-style: none;
}

.pagination__list a {
	color: #000000;
}

.pagination__item a {
	color: #ffffff;
	background-color: #000000;
}

.pagination__item a:hover,
.pagination__item a:focus,
.pagination__item a:active {
	color: #ffffff;
	background-color: #663d15;
}

.pagination__item--current a {
	color: #000000;
	background-color: #ffffff;
}

/* На всякий... */

.pagination__item--current a:hover,
.pagination__item--current a:focus,
.pagination__item--current a:active {
	color: #000000;
	background-color: #ffffff;
}

/* ???item.html */

/* !body */

.container-item {
	color: #000000;

	background-color: #f9f6f3;
	background-position: 0 0;
	background-repeat: repeat;
}

/* !breadcrumbs */

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs__item--current {
	color: #aba9a7;
}

/* !product */

.product-photos__preview-container li {
	list-style: none;
}

.product-photos__full-container,
.product-photos__preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-information__article {
	text-align: right;
	color: #aeaeae;
}

.product-information__price b {
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5;
}

.product-information h3 {
	font-size: 24px;
	line-height: 30px;
}

.product-information ul {
	list-style: none;
}

/* ???price.html */

.container-price {
	color: #000000;

	background-color: #f9f6f3;
	background-position: 0 0;
	background-repeat: repeat;
}

.container-price b {
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
}

/* !Сеточные стили */
/* index по заданию 6 главы курса */

body {
    min-height: 1080px
}

.container-centerer {
    width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.main-header {
	min-height: 72px;
	background-color: #000000;
}

.main-header__main-navigation {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 10px;
}

.main-header__site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 620px;
	list-style: none;
	min-height: 72px;
	padding-left: 30px;
}

.site-navigation__user-navigation {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 140px;
	list-style: none;
	min-height: 70px;
}

.site-navigation__item,
.site-navigation__item--current,
.main-header__logo-link {
    align-self: center;
}

.site-navigation__login-link {
	align-self: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 65px;
}

.container__logo-link {
	margin-top: 75px;
	justify-self: center;
	align-self: center;
	width: 368px;
	height: 153px;
	margin-bottom: 75px;
}

.container__features {
	margin: 0;
	padding: 0;
	margin-bottom: 80px;
}

.features__list {
	min-height: 170px;
	margin: 0;
	padding: 0 10px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.features__item {
	width: 300px;
	min-height: 170px;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
	padding: 50px 80px;
}

.container__news {
	width: 400px;
	min-height: 315px;
}

.container__gallery {
	width: 340px;
	min-height: 315px;
}

.index-columns-2 {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
}

.container__contacts {
	width: 400px;
	min-height: 315px;
}

.container__appointment {
	width: 340px;
	min-height: 315px;
}

.main-footer {
	min-height: 194px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.main-footer__contacts {
	display: flex;
	width: 340px;
	flex-direction: column;
	align-self: center;
}

.main-footer__links {
	display: flex;
	width: 160px;
	flex-direction: column;
	align-self: center;
}

.main-footer__developer {
	display: flex;
	width: 150px;
	flex-direction: column;
	align-self: center;
}

/* Чтобы убрать границу под футером */
.modal {
	position: absolute;
}

/* Все равно потом буду делать модалки */

/* shop по заданию 6 главы курса */

/* header shop */

.main-header__logo-link{
	padding-left: 20px;
}

/* main-shop */

.container-shop h1 {
	margin: 0;
	padding-top: 55px;
	padding-bottom: 18px;
}

.container-shop__breadcrumbs {
	padding-left: 0;
	display: flex;
	width: 300px;
	justify-content: space-between;
	min-height: 24px;
	margin-bottom: 50px;
}

/* Для сетки фильтра и товаров */

.wrapper-products { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.container-shop__filter .filter {
	display: flex;
	width: 180px;
	flex-direction: column;
	min-height: 687px;
}

fieldset {
	margin: 0;
	padding: 0;
}

.container-shop__catalog {
	display: flex;
	flex-direction: column;
	width: 700px;
	min-height: 687px;
}

.products__list{
	width: 700px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 592px;
	justify-content: space-between;
	margin-bottom: 43px;
}

.products__item {
	margin: 0;
	padding: 0;
	width: 220px;
}

.container-shop__pagination {
	display: flex;
	margin-bottom: 49px;
}

.pagination__list {
	margin: 0;
	padding: 0;
	display: flex;
    width: 193px;
	justify-content: space-between;
}

.pagination__item a,
.pagination__item--current a {
	margin: 0;
	padding: 0;
	display: flex;
	width: 43px;
	height: 43px;
	justify-content: center;
	align-items: center;
}

/* footer shop */

.pagination__list {
	margin: 0;
}

/* Для внутренних страниц класс дополнительный */

.inner__page {
	background-color: #000000;
}